<h1>Cool friends from your city {{city}}.</h1>
<div>
    {{#citizens}}
    <p>{{#if this.url}}
        <a href="{{url}}">{{/if}}
        {{first}} {{last}}
        {{#if this.url}}</a>
        {{/if}}, {{age}}, 
        <a href="/signers/{{city}}">{{city}}</a>
        </p>
    {{/citizens}}
</div>