<h1>You are not alone!</h1>
<article>
    <p>Here are the names of fellow heroes - just like you. They also believe in the PLANTition and its cause.</p><br>
    <p>PLANT CARE knowledge should be MANDATORY! No more dead plants, no more excuses!</p>
</article>
<h2>Your fellow signers are:</h2>
{{!-- all first als last names displayed --}}
{{!-- template expects array of objects with first and last name properties --}}
{{!-- <div id="listOfNames">{{#listOfNames}}
    <p>{{.}}</p>
    {{/listOfNames}}
</div> --}}
<article id="signers-center">
{{#signers}}
<div>
    <h4>{{#if this.url}}
        <a href="{{url}}">{{/if}}{{first}} {{last}}{{#if this.url}}</a>{{/if}}{{#if this.age}}, {{age}}{{/if}}{{#if this.city}}, <a href="/signers/{{city}}">{{city}}</a>{{/if}}
    </h4>
</div>
{{/signers}}
</article>